//-----------------------
// PATRON DE COLORES
//-----------------------
$texto:#4a81c0;
$textoSecundario:#757777;
$principal: #4a81c0;
$secundario:#009500;

$font-size: 26px;
$line-height: 1.4;
$lines-to-show: 3;
html {
  font-size: 14px;
}
body {
  font-family: 'Fredoka One', cursive;
  color: $texto;
}
*{
  margin:0px;
  padding:0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Ubunt', sans-serif;
}
ul, ol{
  padding:0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
  list-style: none;
  text-decoration: none;
}

.error{
  color: #ff592a;
}

.block-ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 600px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bienvenidos {

  color: #fff;
  background-size: cover;
  background-attachment: fixed !important; 
  display: flex;
  flex-direction: column;
  padding: 45px;
}
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border: none;
}
.barraSuperior{
  background:black;
}

.backColor, .backColor a{
  background:#2196f3;
  color:white;
}

.encabezado {
  background: #f4f4f4;
  color: #fff;
  padding: .5rem 0;
  transition: all .5s ease;
}
.encabezado.fondo-menu {
  background: #ffffff;
  padding: 1rem 0;
}
.encabezado .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.encabezado .logo img {
  width: 280px;
  height: auto;
}


/*Estilos para el boton: buscar y menu*/

.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff;
}
.boton-buscar:focus,
.boton-menu:focus {
  outline: 0;
}
.boton-buscar {
  margin-left: auto;
  margin-right: .8rem;
}
/*Estilos bloque buscar*/

#bloque-buscar {
  flex: 1 1 100%;
}
.boton-buscar{
  color: #ffffff;
  background-color:#2196f3 ;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.boton-buscar .fa-search {
  color: $textoSecundario;
}
.boton-menu .fa-bars {
  color: $textoSecundario;
}
.boton-buscar span{
  font-family: 'Fredoka One', cursive;

}
.contenedor-bloque-buscar {
  display: flex;
  height: 3rem;
  margin: 1rem 0;
}
.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  flex: 1 1 auto;
}
.contenedor-bloque-buscar input[type="submit"] {
  flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: $principal;
  color: #fff;
  flex: 0 1 auto;
  padding: 0 1rem;
}
.container .beneficios{
  padding: 0 10px 10px 80px;
  width: 300px;
}
h4 a{
  color: #009bd3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
h4 a:hover{
  color: #1783c4;
  text-decoration: underline;

}
#menu-principal {
  flex: 1 1 100%;
}
#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0;
}
#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: $texto;
  text-transform:capitalize;
  border-top: 1px solid #8c8888;
  text-decoration: none;
  font-size: 16px;
}
#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: $principal;
}
.texto-encabezado {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif !important;
}
.texto-encabezado .display-4 {
  margin-top: 4rem;
}


.texto-encabezado .btn-primary {
  margin-top: .5rem;

}
.texto-encabezado h1 {
 font-size: 32px !important;

}
.texto-encabezado p {
  font-size: 18px !important;
  color: $principal;

}
.btn-primary {
  color: #fff;
  background-color: $principal;
  border-color: transparent;
  transition: all .5s ease;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: $principal;
  border-color: transparent;
}
.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  animation: flecha-animada 2s ease-in-out infinite;
}
@keyframes flecha-animada {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  to {
    transform: translateY(0);
  }
}
/*-----------------------------
SECCION AGENCIA
------------------------------*/

.agencia {
  background: $principal;
  color: #fff;
}
.agencia img {
  width: 120px;
  margin: 0 auto;
  display: block;
}
.py-1 {
    padding-top: .5rem !important;
    padding-bottom: 0 !important;
}
.py-2 {
  padding-top: .5rem !important;
  padding-bottom: 100px  !important;
}
/*----------------------------
SECCION TU MEJOR ELECCIÓN
----------------------------*/
.tu-mejor-eleccion{
  padding: 0 0 100px 0;
}
.tu-mejor-eleccion h2 span {
  color: $principal;
}
.tu-mejor-eleccion h4 a {
font-size: 22px;
  font-family: 'Fredoka One', cursive;
}

.tu-mejor-eleccion button{
  border-radius: 55px;
  background-color: #2196f3;
}

.tu-mejor-eleccion h2  {
font-size: 51px;
  font-family: 'Fredoka One', cursive;
  color: #4a81c0;
}
.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li {
  list-style: none;
}
.tu-mejor-eleccion ul li .fa {
  font-size: 2.3rem;
  background: $secundario;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff;
}
.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .8rem;
}
.tu-mejor-eleccion ul li {
  min-height: 9rem;
}
.contenedor-eleccion .inicioImg{
  padding: 10px 0 15px;

}
.tu-mejor-eleccion .iniDescripcion {
 font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.tu-mejor-eleccion .contenedor-text p {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: $principal;
}
/*-------------------------------
SECCION NOTICIAS
--------------------------------*/

.servicios {
  background: #f4f4f4;
  color: $texto;

}
.servicios article {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.servicios img {
  flex: 0 0 100%;
  overflow: hidden;
  margin-right: 1rem;
}
.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  flex: 1 1 auto;
  font-weight: bold;
}
.servicios h3 a {
  color: $principal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.servicios h3 a::after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 2rem;
  margin-left: 1rem;
  opacity: .5;
  position: relative;
  left: 0;
  transition: all .5s ease;
}
.servicios h3 a:hover::after {
  left: -.5rem;
  opacity: 1;
  color: $principal;
}

/*----------------------------------------
SECCION CANALES DE ATENCION
-----------------------------------------*/

.paginas-internas .fondoCanal{
  color: #ffffff;
  background: url('../img/plantilla/canal.jpg') no-repeat center top;
  background-size: cover;
  height: 75vh;
  background-attachment: fixed !important;
  display: flex;
  flex-direction: column;

}

/*----------------------------------------
SECCION CANALES DE TIPS FINANCIEROS
-----------------------------------------*/

.paginas-internas .fondoTips{
  color: #ffffff;
  background: url('../img/plantilla/fondoTips.jpg') no-repeat center top;
  background-size: cover;
  height: 75vh;
  background-attachment: fixed !important;
  display: flex;
  flex-direction: column;

}


/*---------------------------------
SECCION ÚLTIMOS PROYECTOS
------------------------------------*/

.ultimos-proyectos a {
  text-decoration: none;
}
.ultimos-proyectos a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: $texto;
}
.ultimos-proyectos .container {
  padding-left: 0;
  padding-right: 0;
}
.ultimos-proyectos .owl-nav {
  display: flex;
  justify-content: center;
  margin: .3rem 0;
}
.ultimos-proyectos .owl-prev,
.ultimos-proyectos .owl-next {
  font-size: 3rem;
  margin: 0 .5rem;
  color: $principal;
  transition: all .5s ease;
}
.ultimos-proyectos .owl-prev:hover,
.ultimos-proyectos .owl-next:hover {
  color: $secundario;
}
/*----------------------------------------
SECCION PIE DE PAGINA
-----------------------------------------*/
.piewebsite .piecorreo span{
  color: #4981c0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;

}

.piewebsite .pieSucu h5{
  color: #a9d638;
  font-family: 'Lato', sans-serif;

}


.piewebsite  {
  background: #00042a;;
  color: #fff;
  text-align: center;
  font-size: .8rem;
  padding: 0.5rem;

}
.piewebsite.row {
    margin-bottom: 60px;
}
.piewebsite .info{
    text-align: justify; 
    color: #afb0b1;
}

.piewebsite ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
.footer-copyright{
  background-color: #010317;
  color: white;
  text-align: center;
  padding: 20px;

}

.piewebsite h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.piewebsite a {
    color: #d2d1d1;
    text-decoration: none;
}
.piewebsite a:hover,
.piewebsite a:focus {
    text-decoration: none;
    color: white;
}

.piewebsite .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}


.piewebsite h3 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  flex: 1 1 auto;

}
.piewebsite h3 a {

  color: $texto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;


}
.piewebsite .redes-sociales {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
}
.piewebsite .redes-sociales a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 .5rem;
  opacity: .7;
  transition: all .5s ease;
}



.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: rgb(18, 175, 175);
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  display: none;
  transition: all .5s ease;
}
.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #fff;
}

/*----------------------------------------
SECCION REDES SOCIALES
-----------------------------------------*/
.redSocial{
  width:40px;
  height:30px;
  text-align: center;
  line-height:30px;
}

.facebookBlanco{
  color:white;
}
.facebookNegro{
  color:black;
}
.facebookColor{
  color:white;
  background:#46639f;
}

.youtubeColor{
  color:white;
  background:#d6513e;
}

.youtubeBlanco{
  color:white;
}

.youtubeNegro{
  color:black;
}
.twitterColor{
  color:white;
  background:#0ab2e6;
}

.twitterBlanco{
  color:white;
}

.twitterNegro{
  color:black;
}

.google-plusColor{
  color:white;
  background:#d71617;
}

.google-plusBlanco{
  color:white;
}

.google-plusNegro{
  color:black;
}

.instagramColor{
  color:white;
  background:linear-gradient(45deg, #fca925, #ee1d5f,  #6350a2);

}

.instagramBlanco{
  color:white;
}

.instagramNegro{
  color:black;
}

/*-------------------------------------------
ESTILOS PAGINA PREGUNTAS
--------------------------------------------*/
.paginas-internas .fondoPreguntas {
  background-image: url("../img/plantilla/fondoPreguntas.jpg");

  background-size: cover;
  background-color: #2196F3 !important;
  height: 75vh;
}

/*-------------------------------------------
ESTILOS PAGINA NOSOTROS
--------------------------------------------*/
.paginas-internas .fondoReclamo {
  background-image: url("../img/plantilla/fondoReclamo.jpg");
  background-size: cover;
  background-color: #2196F3 !important;
  height: 75vh;
}

/*-------------------------------------------
ESTILOS PAGINA NOSOTROS
--------------------------------------------*/

.paginas-internas .bienvenidos {
  background-image: url("../img/plantilla/header-bg.png");

  background-size: cover;
  background-color: #2196F3 !important;
  height: 75vh;
}

.paginas-internas .fondoNosotros{
  background: url('../img/plantilla/nosotrosBack.jpg') no-repeat center top;
  background-size: cover;
  height: 75vh;
  background-attachment: fixed !important;
  display: flex;
  flex-direction: column;

}
.paginas-internas h1{
  font-family: 'Fredoka One', cursive;
  font-size: 24px;
  color: $texto;
}

.paginas-internas .nosotros h3 {
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  color: #00a9e0;
}

.paginas-internas .ruta {
  background: $principal;
  color: #fff;
}
.paginas-internas .ruta a {
  color: #fff;
  text-decoration: underline;
}
.paginas-internas .ruta a:hover {
  text-decoration: none
}
.paginas-internas .panel .panel-heading {
  font-size: 1.2rem;
}
.paginas-internas .panel .panel-heading a {
  background: $principal;
  color: #fff;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all .5s ease;
}
.paginas-internas .panel .panel-heading a:hover {
  background: $secundario;
  color: #fff;
}
/*-------------------------------------------
ESTILOS PAGINA PRODUCTOS Y SERVICIOS
--------------------------------------------*/

.paginas-internas .fondoProducto{
  background: url('../img/plantilla/productos.jpg') no-repeat center top;
  background-size: cover;
  height: 75vh;
  background-size: cover;
  background-attachment: fixed !important;
  display: flex;
  flex-direction: column;

}
.paginas-internas .left-navigation ul li a h4 small {
    color: #777;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
}

.paginas-internas .left-navigation ul li a h4 small {
  color: #777;

}

.paginas-internas .left-navigation ul li a:hover{
 background:  #009bd3;
}

.paginas-internas  .productoInfo{
    min-height: 425px;
  height: auto !important;
  height: 425px;
  padding:5px;

}

.paginas-internas .left-navigation ul {
  list-style-type: none;
  padding-left: 20px;
}

.paginas-internas .left-navigation li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px
}

.paginas-internas .left-navigation li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f0a9";
  color: deepskyblue;
  font-size: 20px;
}

.paginas-internas .menuProducto ul li a h4 small:hover{
  color: #1783C4;
}



.paginas-internas .lista-servicios {
  background: $secundario;
}
.paginas-internas .lista-servicios .item-servicios {
  background: #ffffff;
  text-align: center;
  border: 5px solid #057705;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}
.paginas-internas .lista-servicios .item-servicios .fa {
  font-size: 6rem;
  color: $principal;
  margin-bottom: 1rem;
  transition: all 1s ease;
}
.paginas-internas .lista-servicios .item-servicios:hover .fa {
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}

/*---------------------------------------------
QUIENES SOMOS
--------------------------------------------*/

#descriptionCanales span
{
  font-family: 'Fredoka One', cursive;

}


//.bienvenidos_quienes_somos {
//    background: url("../../backend/vistas/img/plantilla/fondo-encabezado.jpg") no-repeat center top;
//    color: #fff;
//    background-size: cover;
//    background-attachment: fixed !important;
//    height: 50vh;
//    display: flex;
//    flex-direction: column;
//}


/*---------------------------------
SECCION CONTACTENOS
------------------------------------*/
.paginas-internas .fondoContacto{
  background: url('../img/plantilla/ContactoBack.jpg') no-repeat center top;
  background-size: cover;
  height: 75vh;
  background-attachment: fixed !important;
  display: flex;
  flex-direction: column;

}



/*---------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
--------------------------------------------*/

@media (min-width: 768px) {
  .col-xs-0{
    display: none;
  }
  #menu-principal {
    height: auto !important;
    display: block;
    flex: 0 1 auto;
    margin-left: auto;
    order: 1
  }
  #menu-principal ul {
    display: flex;
    margin: 0 0 0 0
  }
  #menu-principal ul li a {
    padding: .8rem;
    //text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;
    transition: all .5s ease
  }
  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: $principal;
    border-bottom: 4px solid
  }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    //order: 2
  }
  #bloque-buscar {
    order: 3;
    position: absolute;
    width: 20rem;
    right: 3rem;
    top: 2.8rem;
    transition: all .5s ease
  }
  .servicios article {
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .servicios img {
    flex: 0 0 200px;

    overflow: hidden;
    margin-right: 0;
    margin-bottom: 1rem;

    transition: all 1s ease
  }
  .servicios article:hover img {
    transform: rotateY(360deg);
    transform-style: preserve-3d
  }
  .servicios h3 a::after {
    content: ""
  }
  .servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    flex: 0 1 auto;
    width: 100%
  }
  .servicios h3 a {
    display: block;
    width: 100%
  }
  .servicios p {
    width: 100%
  }
  .servicios .btn-secondary {
    margin-top: auto
  }
  .paginas-internas .lista-servicios .col-md-4 {
    display: flex
  }
  .paginas-internas .lista-servicios .item-servicios {
    display: flex;
    flex-direction: column
  }
  .paginas-internas .lista-servicios .item-servicios .btn-primary {
    margin-top: auto
  }
}
@media (min-width: 992px) {
  .col-xs-0{
    display: none;
  }
  html {
    font-size: 16px
  }
  .bienvenidos {
    background: url("../images/fondo-encabezado-grandeCE.jpg") no-repeat center top;
    background-size: cover
  }
  .tu-mejor-eleccion ul li {
    display: flex;
    min-height: 7rem
  }
  .tu-mejor-eleccion ul li .fa {
    text-align: center;
    flex: 0 1 auto;
    margin-right: 1rem;
    transition: all 1s ease
  }
  .tu-mejor-eleccion ul li:hover .fa {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    background: #12AFAF
  }
  .contenedor-eleccion {
    flex: 1 0 0px
  }
  .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    margin-top: 0;
    font-size: 1rem
  }
  .tu-mejor-eleccion ul:first-child .fa {
    order: 1;
    margin-left: 1rem;
    margin-right: 0
  }
  .tu-mejor-eleccion ul li p {
    font-size: .85rem;
    width: 100%
  }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    order: 2
  }
 

}


@media (max-width:767px){
  .col-xs-0{
    display: none;
  }

.servicios img{
  //width: 60px;
}

.bienvenidos {
  padding: 0;
}

.agencia img {
  width: 220px;

}


}

